.brain-animation {
	position: relative;
	perspective: calc(var(--size) * 1.53);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	--size:
	min(500px, 90vw);
	font-size: calc(.056 * var(--size));
}
.brain-animation canvas {
	width: var(--size);
	height: var(--size);
}
.brain-animation span {
	position: absolute;
	transform: translateY(calc( var(--size) * -0.3 ));
	width: min-content;
	text-align: center;
	opacity: 0;
	filter: drop-shadow(0 0 0.1px #fff0);
	transition: filter 2.5s;
	will-change: transform;
	text-shadow: 0 0 0.5em #fff, 0 0 0.3em #fff8, 0 0 0.5em #000b, 0 0 0.3em #000b;
}
.brain-animation span.highlighted {
	filter: drop-shadow(0 0 .1em #fff7) drop-shadow(0 0 .3em #fff8) drop-shadow(0 0 .2em #0007) drop-shadow(0 0 .4em #000a);
	transition: filter 1.7s cubic-bezier(0.6, 2.2, 0.68, 1.05);
}